h1 {
    color: black;
    font-size: 50pt;
    font-family: 'Helvetica', 'Arial', sans-serif;
    text-align: center;
}

h5 {
    color: black;
    font-size: 20pt;
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding-top: 3%;
    margin-left: 30%;
}

.container {
    display: flex;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.container.space-around {
    justify-content: space-around;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    background-color: lightblue;
}

p {
    color: black;
    font-size: 20pt;
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin-left: 35%;
}