h1 {
    color: black;
    font-size: 50pt;
    font-family: 'Helvetica', 'Arial', sans-serif;
    text-align: center;
}

h2 {
    color: black;
    font-size: 13pt;
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding-bottom: -40%;
}


center {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 25pt;
    padding-bottom: -20%;
}

h5 {
    color: black;
    font-size: 20pt;
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding-top: 3%;
    margin-left: 39%;
    margin-bottom: 1%;
}

h6 {
    color: black;
    font-size: 12pt;
    font-family: 'Helvetica', 'Arial', sans-serif;
    float: right;
}

.container {
    display: flex;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.container.space-around {
    justify-content: space-around;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    background-color: lightblue;
}

p {
    color: black;
    font-size: 20pt;
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin-left: 42%;
}

img {
    position: relative;
    float: left;
    border: 5px solid #fff; 
}

table {
    font-family: 'Helvetica', 'Arial', sans-serif;
}